/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-dialog-container {
    border-radius: 0px !important;
    overflow-y: hidden !important; 
    overflow-x: hidden !important;
	/* padding: 0px !important;
	margin: 0px; */
}